{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    {% for user in users %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 text-center shadow">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="card-img-top" alt="{{ user.username }}" style="height: 300px; object-fit: cover;">
            {% else %}
                <div class="bg-secondary d-flex align-items-center justify-content-center" style="height: 300px;">
                    <span class="text-white-50">Нет фото</span>
                </div>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title fw-bold">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text small">{{ user.bio|truncatechars:100 }}</p>
                <p class="card-text">Возраст: {{ user.age }}</p>
                <p class="card-text ">{{ user.city }}</p>


            </div>

            <div class="card-footer d-flex justify-content-around bg-transparent border-0 pb-3">
                <form action="{% url 'accounts:match' user.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="skip">
                    <button type="submit" class="btn btn-outline-secondary btn-lg">✖</button>
                </form>

                <form action="{% url 'accounts:match' user.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="like">
                    <button type="submit" class="btn btn-danger btn-lg">❤</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}